<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Georgia Solar Siting{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/map">Map</a>
        <a href="/findings">Findings</a>
        <a href="/about">About</a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer1" style="    background-color: rgb(87, 87, 87);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;">
        <p>Georgia Solar Siting Project</p>
    </footer>

</body>

</html>